<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/post/{{post.id}}">{{post.name}}</a></h4>
        <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
    </div>
        <p class="card-body">{{post.content}}</p>
</div>

